<div class="c-content__header">
  <form action="/" method="GET">
    <button type="submit">
      <img src="/icons/search.png" alt="Search">
    </button>
    <input type="search" placeholder="Search">
  </form>
  <div class="c-content__profile">
    <a href="#">
      <img src="/icons/user.png" alt="Search">
      <span>MrRobot</span>
    </a>
  </div>
</div>

<!-- NAV -->
<nav class="c-content__nav">
  <ul>
    <li>
      <a href="#">Todas</a>
    </li>
    <li>
      <a href="#">Recentes</a>
    </li>
    <li>
      <a href="#">Favoritas</a>
    </li>
    <li>
      <a href="#">Configurar</a>
    </li>
  </ul>
  <a href="/note/form?action=register" class="c-content__add">
    <span>+</span>
    <p>Adicionar nota</p>
  </a>
</nav>