<div class="c-content__header">
  <form action="/" method="GET">
    <button type="submit">
      <img src="/icons/search.png" alt="Search">
    </button>
    <input type="search" placeholder="Search">
  </form>
  <div class="c-content__profile">
    <a href="#">
      <img src="/icons/user.png" alt="Search">
      <span>MrRobot</span>
    </a>
  </div>
</div>