<div class="c-menu">
  <div class="c-menu__header">
    <img src="/icons/notes.png" alt="Logo">
    <h1>Mr Note</h1>
  </div>

  <ul class="c-menu__main">
    <li>
      <a href="/" style="--_color: #64c257">
        <span>Todas: <%= menu.total %></span>
      </a>
    </li>
    <li>
      <a href="/nav/favorites" style="--_color: #ef6a64">
        <span>Favoritas: <%= menu.favorites %></span>
      </a>
    </li>
    <li>
      <a href="/nav/recents" style="--_color: #f3bf51">
        <span>Recentes: <%= menu.recents %></span>
      </a>
    </li>

    <li>
      <a class="menu-add" href="/note/form?action=register" style="--_color: #30f3b1">
        <span>Adicionar nota</span>
      </a>
    </li>
    <li>
      <a class="menu-settings" href="/nav/settings" style="--_color: #efefff">
        <span>Configurar</span>
      </a>
    </li>
  </ul>

  <div class="c-menu__footer">
    by MrRobot
  </div>
</div>