<div class="c-menu">
  <div class="c-menu__header">
    <img src="/icons/notes.png" alt="Logo">
    <h1>Mr Note</h1>
  </div>

  <ul class="c-menu__main">
    <li>
      <a href="#">
        <img src="/icons/fb.png" alt="">
        <span>Todas</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/icons/fb.png" alt="">
        <span>Recentes</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/icons/fb.png" alt="">
        <span>Privadas</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/icons/fb.png" alt="">
        <span>Favoritas</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/icons/fb.png" alt="">
        <span>Configurações</span>
      </a>
    </li>
  </ul>

  <div></div>
  <ul class="c-menu__footer">
    <li>
      <a href="#" title="Facebook">
        <img src="/icons/fb.png" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="#" title="Github">
        <img src="/icons/gh.png" alt="Github">
      </a>
    </li>
    <li>
      <a href="#" title="Google">
        <img src="/icons/go.png" alt="Google">
      </a>
    </li>
  </ul>
</div>