<!-- NAV -->
<nav class="c-content__nav">
  <ul>
    <li>
      <a href="#">Todas</a>
    </li>
    <li>
      <a href="#">Recentes</a>
    </li>
    <li>
      <a href="#">Favoritas</a>
    </li>
    <li>
      <a href="#">Configurar</a>
    </li>
  </ul>
  <a href="/note/form?action=register" class="c-content__add">
    <span>+</span>
    <p>Adicionar nota</p>
  </a>
</nav>