<!-- NAV -->
<nav class="c-content__nav">
  <ul>
    <li class="<%- nav == 'all' ? 'active' : '' %>">
      <a href="/">Todas</a>
    </li>
    <li class="<%- nav == 'favorites' ? 'active' : '' %>">
      <a href="/nav/favorites">Favoritas</a>
    </li>
    <li class="<%- nav == 'recents' ? 'active' : '' %>">
      <a href="/nav/recents">Recentes</a>
    </li>
    <li class="<%- nav == 'settings' ? 'active' : '' %>">
      <a href="/nav/settings">Configurar</a>
    </li>
  </ul>
  <a href="/note/form?action=register" class="c-content__add">
    <span>+</span>
    <p>Adicionar nota</p>
  </a>
</nav>