<ul class="c-content__notes">
  <% if(notes.length){ %>
    <% notes.forEach( note => { %>
      <li class="c-card">
        <a href="/note/view/<%= note._id %>">

          <div class="c-card__title">
            <div class="pointers">
              <span style="--color: #64c257"></span>
              <% if(note.favorite){ %>
                <span style="--color: #ef6a64"></span>
              <% } %>
              <% if(menu.recents_ids.includes(note._id)){ %>
                <span style="--color: #f3bf51"></span>
              <% } %>
            </div>
            <p><%= note.title %></p>
          </div>
          <div class="c-card__description">
            <p>
              <%= note.description %>
            </p>
          </div>
          <div class="c-card__footer">
            <p><%= note.date %></p>
          </div>
        </a>
      </li>
    <% }) %>  
  <% } else { %>
    <li class="empty">
      <% if(nav == "all") { %>
        <p>Nenhuma nota adicionada ainda...</p>
      <% } else if(nav == "favorites") { %>
        <p>Nenhuma nota adicionada como favorita ainda...</p>
      <% } else if(nav == "recents") { %>
        <p>Nenhuma nota recente ainda...</p>
      <% } else if(nav == "search") { %>
        <p>Nenhum resultado para a pesquisa...</p>
      <% } %>
    </li>
  <% } %>
</ul>