/* MENU */

.c-menu {
  --_margin-default: calc(var(--margin-default) + .2rem);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(to bottom, #0090cf, #00b1ff);
}

.c-menu__header {
  display: flex;
  align-items: center;
  background: transparent;
  padding: var(--_margin-default);
}

.c-menu__header img {
  height: .9rem;
  margin-right: .5rem;
}

.c-menu__header h1 {
  font-size: .9rem;
  color: #efefff;
  font-weight: bold;
}

/* MENU MAIN */

.c-menu__main {
  display: flex;
  flex-direction: column;
  margin-top: .2rem;
  flex: 1;
}

.c-menu__main li a {
  --_margin-left: .18rem;
  display: flex;
  position: relative;
  padding: calc(var(--_margin-default) + .2rem);
  align-items: center;
}

.c-menu__main li a::before {
  content: "";
  position: absolute;
  width: var(--_margin-left);
  border-radius: 50px;
  height: 70%;
  background: var(--_color);
}

.c-menu__main li a:hover {
  background-color: rgba(0,0,0, .05);
}

.c-menu__main img {
  height: 1.1rem;
  margin-right: .4rem;
}

.c-menu__main span {
  font-size: .7rem;
  color: rgba(255,255,255, .8);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: calc(var(--_margin-left) + .5rem);
  font-weight: bold;
}

.c-menu__main .menu-add {
  margin-top: 3rem;
  padding: .6rem var(--_margin-default);
}

.c-menu__main .menu-settings {
  padding: .6rem var(--_margin-default);
}


.c-menu__main .menu-add::before,
.c-menu__main .menu-settings::before {
  --_margin-left: .35rem;
  height: var(--_margin-left);
}


/* MENU FOOTER */
.c-menu__footer {
  width: 100%;
  text-align: center;
  padding: var(--_margin-default);
  font-size: .7rem;
  color: rgba(255,255,255, .8);
}