/* SETTINGS */

.c-settings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--secondary-color);
  min-width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}


.c-settings h2 {
  font-size: .8rem;
  text-align: center;
  color: #efefff;
}

.c-settings li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin-top: 1rem;
}

.c-settings li label {
  color: #b2b1b5;
  white-space: nowrap;
  font-size: .8rem;
}

.c-settings li input,
[data-settings="details-color"] label:nth-child(2) {
  width: 2.3rem;
  padding: .3rem .2rem;
  background: rgba(0, 0, 0, .15);
  border: 1px solid rgba(255, 255, 255, .1);
  color: #efefff;
  font-size: .6rem;
  margin-left: .5rem;
}

[data-settings="details-color"] input {
  display: none;
}

[data-settings="details-color"] label:nth-child(2) {
  background: var(--details-color);
  color: var(--details-color);
}

.c-settings .buttons {
  display: flex;
}

.c-settings button {
  padding: .5rem;
  flex: 1;
  margin-top: 1rem;
  font-size: .6rem;
  font-weight: bold;
  color: #efefff;
  cursor: pointer;
  border-radius: .2rem;
  background: rgba(255, 255, 255, .1);
}

.c-settings button:last-child {
  margin-left: .5rem;
  color: rgba(255, 255, 255, .9);
  background: var(--details-color);
}


.c-settings button:active {
  transform: scale(.95)
}