<%- include("./includes/head") %>
  <link rel="stylesheet" href="/assets/css/menu.css">
  <link rel="stylesheet" href="/assets/css/content.css">
  <script src="/assets/js/index.js" defer></script>
  <title>Notes</title>
  </head>

  <body>
    <section class="c-container">
      <!-- MENU -->
      <%- include("./includes/menu") %>

        <!-- CONTENT -->
        <div class="c-content">
          <%- include("./includes/content") %>
          <%- include("./includes/notes") %>
        </div>
    </section>
  </body>

  </html>