<%- include("./includes/head") %>
  <link rel="stylesheet" href="/assets/css/nav.css">
  <link rel="stylesheet" href="/assets/css/settings.css">
  <script src="/assets/js/settings.js" defer></script>
  <title>Notes</title>
  </head>

  <body>
    <section class="c-container">
      <!-- MENU -->
      <%- include("./includes/menu") %>

        <!-- CONTENT -->
        <div class="c-content">
          <%- include("./includes/content") %>
          <%- include("./includes/nav") %>
          <ul class="c-content__content c-settings" data-settings>
            <h2>Configurações</h2>
            <li data-settings="font-size">
              <label class="nowrap" for="font-size">Tamanho dos textos</label>
              <input type="number" value="4" min="10" max="40" id="font-size">
            </li>
            <li data-settings="number-columns">
              <label class="nowrap" for="number-columns">Número de colunas</label>
              <input type="number" value="4" min="1" max="10" id="number-columns">
            </li>
            <li data-settings="line-camp">
              <label class="nowrap" for="line-camp">Número de linhas da descrição</label>
              <input type="number" value="6" min="1" max="10" id="line-camp">
            </li>
            <li data-settings="details-color">
              <label class="nowrap" for="details-color">Cor dos detalhes</label>
              <label class="details-color" for="details-color">a</label>
              <input type="color" value="#00b1ff" id="details-color">
            </li>
            <div class="buttons">
              <button data-settings="reset">Restaurar</button>
              <button data-settings="save">Salvar</button>
            </div>
          </ul>
        </div>
    </section>
  </body>

  </html>